@import './_variables.sass'
@import '../../node_modules/bootstrap/scss/bootstrap.scss'
@import './_fonts.sass'
@import './_icons.sass'
@import './_animation.sass'

// Navbar
#nav
    div
        a
            font-family: krona
            font-size: 300%
        p
            font-family: Quicksand
            letter-spacing: 5px
            color: rgb(181,23,18,255)
    div
        div
            a
                font-size: 12px
                color: black
                letter-spacing: 2px
                &:hover
                    background-color: black
                    color: white
                    transition: all 1s
.active
    background-color: black
    color: white !important  
// Contact Fixed
#aside
    position: relative
    z-index: 2
    div
        position: fixed
        bottom: 30px
        right: 30px
        padding: 14px
        background-color: $rouge
        box-shadow: 2px 2px 2px $rouge
        i
            color: white
            font-size: 28px
// Banner
#banner
    z-index: 999
    div
        img
            max-width: 60%
            height: auto
    .down
        i
            font-size: 20px
            &:first-child
                animation: move 1s infinite
                animation-delay: 1s
            &:nth-child(2)
                animation: move 1s infinite 
                animation-delay: 1.1s
            &:last-child
                animation: move 1s infinite 
                animation-delay: 1.2s
    
// MiniPortofolio1
#MiniPortofolio
    // margin-top: 7%
    position: relative
    .container
        .row
            .col-lg-4
                img
                    max-width: 100%
                    max-height: auto
                &:nth-of-type(2)
                    margin-top: 50px
        .titleMini
            position: absolute
            top: 45%
            left: 12%
            h3
                font-family: Krona
                &::before
                    content: ""
                    position: absolute
                    bottom: 0px
                    width: 50%
                    height: 3px
                    left: 0%
                    background-color: rgb(181,23,18,255)
// Transition
#transition
    div
        background-image: url('../../public/img/tansitionBanner.jpg')
        background-position: center
        background-size: 100wh
        // background-size: cover
        background-repeat: no-repeat
        background-attachment: fixed
        height: 250px
// Agency
#agency
    .container
        .row
            margin: 15% 0
            .col-lg-6
            &:first-child
                h3
                    font-size: 250%
                    font-family: Krona
                    text-align: end
                p 
                font-family: Quicksand
                font-size: 20px
                text-align: end
                letter-spacing: 0.011111111111111112rem
                .font-weight-bold
                    font-size: 25px
                    color: rgb(181,23,18,255)           
                                     
            &:last-child
                img 
                    height: 230px
                    transform: rotate(20deg) 
// Service 
#service
    position: relative
    .container
        .titleMini
            position: absolute
            top: 0%
            left: 12%
            h3
                font-family: Krona
                &::before
                    content: ""
                    position: absolute
                    bottom: 0px
                    width: 50%
                    height: 3px
                    left: 0%
                    background-color: rgb(181,23,18,255)
        .logo
            .row
                .col-lg-3
                    font-family: Quicksand
                    text-align: center
                    h4 

                    i
                        font-size: 50px  
                        color:  rgb(181,23,18,255)     
        div
            h6 
                a 
                    text-decoration: none
                    font-family: Krona

// miniAbout
#miniAbout
    .container
        // padding:  0 130px 0 130px
        p
            font-family: Quicksand
            &:first-child
                font-size: 0.6666666666666666rem
                letter-spacing: 3px
                color: rgb(181,23,18,255)
            &:last-child
                font-size: 25px
                letter-spacing: 0.011111111111111112rem
        a
            font-size: 0.6666666666666666rem
            letter-spacing: 3px
            text-decoration: none
            color: $rouge

// About
#about
    .container
        .row
            .col-lg-7
                font-family: Quicksand
// portfolio
.activePor
    color: rgb(181,23,18,255)
    border: solid 2px rgb(181,23,18,255)
    border-radius: 5px  
#portfolio
    h1
    .container
        &:first-child
            .row
                .col-lg-7
                    .navbar
                        li 
                            cursor: pointer 
                            list-style: none
                            font-family: Quicksand
                            &:hover
                                color: rgb(181,23,18,255)
                        

        &:last-child
            .row
                .col-lg-6
                    position: relative
                    .img
                        cursor: pointer 
                        background-image: url('../../public/img/masque.jpg')
                        height: 35vh
                        background-size: cover
                        background-repeat: no-repeat
                        background-position: center
                    .minibloc
                        background-color: $rouge
                        font-family: Quicksand
                        position: absolute
                        top: 20%
                        left: -30px   
                        border-radius: 5px
                    .minibloc2
                        background-color: $rouge    
                        font-family: Quicksand
                        position: absolute
                        bottom:  20%
                        right: -30px
                        border-radius: 5px

                        // transition: all 1s
                        // &:hover
                        //     background-size: 300px
                        //     // filter: grayscale(100%)
                        //     // transition: all 
                        //     background-color: red
// Contact
#contact
    .container
        .row
            .col-lg-6
                &:first-child 
                    background-image: url('../../public/img/mapsMerchtem.png')
                    background-size: cover
                    height: 80vh
                    z-index: -1
                    font-family: Quicksand
                    .col-2
                        i 
                            font-size: 20px
                            margin-top: 5px
                    .col-8
                        .mini
                            font-size: 20px
                        .para 
                            color: gray 
                        .para2 
                            color: $rouge 
                            font-weight: bold
                        
                &:last-child
                    font-family: Quicksand
                    form 
                        .container
                            .row                             
                                label 
                                    border: solid 2px lightgray
                                input
                                    border: solid 2px lightgray
                                    border-top: none

// Footer
#footer
    .container-fluid
        h3
            font-family: Krona
            position: relative
            max-width: max-content
            &::before
                content: ""
                position: absolute
                bottom: 0px
                width: 30%
                height: 3px
                left: 0%
                background-color: rgb(181,23,18,255)
            &::after
                content: ""
                position: absolute
                bottom: 0px
                width: 30%
                height: 3px
                right: 0%
                background-color: rgb(181,23,18,255)
        p 
            font-family: Quicksand
    .container
        p
            font-family: Quicksand
            text-align: end
            font-size: 15px
            letter-spacing: 3px
        .start
            text-align: start !important

// MEDIA
@media ( max-width: 760px)
    #nav   //Banner
        margin: 0 !important
        padding: 0 !important

        div
            margin-left: 20px
            a
                font-family: krona
                font-size: 25px

            p
                font-family: Quicksand
                letter-spacing: 5px
                font-size: 15px

        div
            div
                a
                    position: relative
                    right: 0

    #MiniPortofolio //MiniPortfolio
        position: relative
        .container
            .row
                .col-lg-4
                    img
                        max-width: 100%
                        max-height: auto
                        margin-top: 50px
                    &:nth-of-type(2)
                        margin-top: 0
            .titleMini
                position: absolute
                top: 0%
                left: 12%
    #miniAbout
        .container
            padding: 0
            text-align: center
    #agency //agency
        margin-bottom: 100px
        .container
            .row
                margin: 15% 0
                .col-lg-6
                &:first-child
                    h3
                        text-align: center !important
                        font-size: 150%
                        font-family: Krona
                        text-align: end
                    p 
                        font-family: Quicksand
                        text-align: center !important
                        font-size: 15px
                        text-align: end
                        letter-spacing: 0.011111111111111112rem
                    .font-weight-bold
                        font-size: 20px
                        color: rgb(181,23,18,255)           
                                        
                &:last-child
                    img 
                        height: 200px
                        transform: rotate(20deg)
    #transition //transition
        div
            background-size: 580px

    #portfolio //portfolio
        .container
            &:first-child
                .row
                    .col-lg-7
                        .navbar
                            display: flex
                            flex-direction: column
      
            &:last-child
                .row
                    .col-lg-6
                        position: relative
                        .img
                            // margin-top: 200px
                            cursor: pointer 
                            background-image: url('../../public/img/masque.jpg')
                            height: 35vh
                            background-size: cover
                            background-repeat: no-repeat
                            background-position: center
                        .minibloc
                            background-color: $rouge    
                            position: absolute
                            top: 5%
                            left: 0px   
                            border-radius: 5px
    #contact  //contact
        .container
            .row
                .col-lg-6
                    &:first-child 
                        margin-top: 15px
                        background-image: url('../../public/img/mapsMerchtem.png')
                        background-size: cover
                        height: 50vh
                        z-index: -1
                        font-family: Quicksand                            
                    &:last-child
                        border: none !important


@media ( min-width: 761px) and (max-width: 992px)
    #MiniPortofolio //MiniPortfolio
        position: relative
        .container
            .row
                .col-lg-4
                    img
                        max-width: 100%
                        max-height: auto
                        margin-top: 50px
                    &:nth-of-type(2)
                        margin-top: 15px
            .titleMini
                position: absolute
                top: 0%
                left: 12%
    #agency //agency
        margin-bottom: 100px
        .container
            .row
                margin: 15% 0
                .col-lg-6
                &:first-child
                    h3
                        text-align: center !important
                        font-size: 150%
                        font-family: Krona
                        text-align: end
                    p 
                        font-family: Quicksand
                        text-align: center !important
                        font-size: 15px
                        text-align: end
                        letter-spacing: 0.011111111111111112rem
                    .font-weight-bold
                        font-size: 20px
                        color: rgb(181,23,18,255)           
                                        
                &:last-child
                    img 
                        height: 200px
                        transform: rotate(20deg)
    #transition //transition
        div
            background-size: 750px